Repository mazino2d/mazino2d.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-yaml

lint-markdown:
  name: Lint Markdown files
  entry: markdownlint-cli2
  language: node
  pass_filenames: true
  additional_dependencies:
  - markdownlint-cli2

lint-yaml:
  name: Lint YAML files
  entry: yamllint
  language: conda
  pass_filenames: true
  additional_dependencies:
  - yamllint

Refactor UI text in multiple languages for comments section; update staticman.yml with YAML front matter
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/workflows/build-deploy-page.yml
  .yamllint.yaml
  _config.yml
  _data/ui-text.yml
  staticman.yml
Due: lint-yaml

chore: update linting configurations for Markdown and YAML; add custom rules and remove deprecated files
  .github/workflows/markdown-lint.yml
  .gitignore
  .linter/markdownlint.yaml
  .linter/yamllint.yaml
  .markdownlint.json
  .pre-commit-config.yaml
Due: lint-yaml

chore: consolidate linting configurations; remove markdown and YAML linting files, add Prettier setup
  .github/workflows/check-code-format.yml
  .github/workflows/markdown-lint.yml
  .linter/markdownlint.yaml
  .linter/yamllint.yaml
  .pre-commit-config.yaml
  .prettierrc.yaml
Due: lint-yaml

chore: update Prettier configuration and improve HTML syntax in head.html
  .pre-commit-config.yaml
  .prettierignore
  _includes/head.html
Due: lint-yaml

chore: update Prettier configuration for XML files; fix Google Analytics script formatting
  .prettierrc.yaml
Due: lint-yaml

chore: update .prettierignore to include header.html; refactor header.html for improved readability
  .prettierignore
  _includes/header.html
Due: none

feat: add YAML linting workflow for pull requests
  .github/workflows/yaml-lint.yml
Due: lint-yaml

chore: remove YAML linting configuration and related files
  .github/workflows/yaml-lint.yml
  .pre-commit-config.yaml
  .yamllint.yaml
Due: lint-yaml

chore: remove .gitattributes file to simplify repository configuration
  .gitattributes
  _config.yml
Due: lint-yaml

chore: update branch name from master to main in configuration files
  _config.yml
  staticman.yml
Due: lint-yaml

Remove classification metrics blog post
  _posts/2023-06-13-classification-metrics.md
Due: lint-markdown

feat: update 'About me' page with personal insights and improved structure
  aboutme.md
Due: lint-markdown

feat: add summary post for 'The Psychology of Money' by Morgan Housel
  _posts/2025-12-13-psychology-of-money.md
Due: lint-markdown

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: lint-markdown

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: lint-markdown

Implement dark mode feature with toggle button and styles
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/issue_template.md
  CODE_OF_CONDUCT.md
  _includes/footer-scripts.html
  _includes/head.html
  _includes/nav.html
  assets/css/darkmode.css
  assets/js/darkmode.js
Due: lint-markdown

Refactor post titles for clarity and enhance dark mode styles with new color variables
  .gitignore
  _config.yml
  _posts/2025-05-12-homo-sapiens.md
  _posts/2025-12-12-atomic-habits.md
  _posts/2025-12-13-psychology-of-money.md
  assets/css/darkmode.css
Due: lint-markdown, lint-yaml

Update subtitles for clarity and relevance in book posts
  _posts/2025-05-12-homo-sapiens.md
  _posts/2025-12-12-atomic-habits.md
  _posts/2025-12-13-psychology-of-money.md
Due: lint-markdown

Update LinkedIn link and attribution in config
  _config.yml
Due: lint-yaml

Add series configuration and navigation for A/B Testing posts; update book summaries for "Sapiens," "Atomic Habits," and "The Psychology of Money"
  .github/instructions/markdown.instructions.md
  _includes/series-navigation.html
  _layouts/post.html
  _posts/ab-testing-series/2026-03-11-ab-testing-series-1-foundations.md
  _posts/ab-testing-series/2026-03-11-ab-testing-series-2-significance.md
  _posts/ab-testing-series/2026-03-11-ab-testing-series-3-power-and-sample-size.md
  _posts/ab-testing-series/2026-03-11-ab-testing-series-4-pitfalls-part-1.md
  _posts/ab-testing-series/2026-03-11-ab-testing-series-5-pitfalls-part-2.md
  _posts/ab-testing-series/2026-03-11-ab-testing-series-6-decision-framework.md
  _posts/book-sharing-series/2025-05-12-homo-sapiens.md
  _posts/book-sharing-series/2025-12-12-atomic-habits.md
  _posts/book-sharing-series/2025-12-13-psychology-of-money.md
Due: lint-markdown

Add A/B Testing Series: Power and Sample Size, Pitfalls, and Decision Framework
  .github/SECURITY.md
  README.md
  _config.yml
  _includes/footer-scripts.html
  _layouts/home.html
  _posts/ab-testing/2026-03-11-1-foundations.md
  _posts/ab-testing/2026-03-11-2-significance.md
  _posts/ab-testing/2026-03-11-3-power-and-sample-size.md
  _posts/ab-testing/2026-03-11-4-pitfalls-part-1.md
  _posts/ab-testing/2026-03-11-5-pitfalls-part-2.md
  _posts/ab-testing/2026-03-11-6-decision-framework.md
  _posts/book-sharing/2025-05-12-homo-sapiens.md
  _posts/book-sharing/2025-12-12-atomic-habits.md
  _posts/book-sharing/2025-12-13-psychology-of-money.md
  aboutme.md
  assets/css/beautifuljekyll.css
  cv.md
  index.html
  tags.html
Due: lint-markdown, lint-yaml

Refactor CV section: consolidate content into aboutme.md and remove cv.md
  _config.yml
  aboutme.md
  cv.md
Due: lint-markdown, lint-yaml

Enhance formatting in aboutme.md: bold key achievements and technologies for improved readability
  aboutme.md
Due: lint-markdown

Refactor aboutme.md: enhance summary and experience sections for clarity and impact
  aboutme.md
Due: lint-markdown

Add series TOC, revamp navigation, remove pager
  _includes/series-navigation.html
  _includes/series-toc.html
  _includes/social-share.html
  _layouts/post.html
Due: none

Refactor experience section in aboutme.md: enhance clarity and impact of ZingMP3 and ZingNews achievements
  aboutme.md
Due: lint-markdown

Comment out avatar and round-avatar settings in _config.yml
  _config.yml
Due: lint-yaml

Add Credit Card Portfolio Management series
  _config.yml
  _posts/credit-card-portfolio/2026-04-02-1-product-overview.md
  _posts/credit-card-portfolio/2026-04-02-2-customer-segmentation.md
  _posts/credit-card-portfolio/2026-04-02-3-lifecycle-management.md
  _posts/credit-card-portfolio/2026-04-02-4-portfolio-metrics.md
  _posts/credit-card-portfolio/2026-04-02-5-management-strategies.md
  _posts/credit-card-portfolio/2026-04-02-6-risk-models-analytics.md
Due: lint-markdown, lint-yaml

Clarify credit card product overview
  _posts/credit-card-portfolio/2026-04-02-1-product-overview.md
Due: lint-markdown

Add SBV 5-tier delinquency table and provisions
  _posts/credit-card-portfolio/2026-04-02-3-lifecycle-management.md
Due: lint-markdown

Condense vintage and stress-testing section
  _posts/credit-card-portfolio/2026-04-02-5-management-strategies.md
Due: lint-markdown

Add series feature, pages, and homepage cards
  README.md
  _config.yml
  _layouts/series.html
  assets/css/beautifuljekyll.css
  index.html
  series/ab-testing.md
  series/book-sharing.md
  series/credit-card-portfolio.md
Due: lint-markdown, lint-yaml

Refactor UI: Remove dark mode feature and update homepage with new series cards
  _config.yml
  _includes/footer-scripts.html
  _includes/head.html
  _includes/nav.html
  _includes/search.html
  assets/css/beautifuljekyll.css
  assets/css/darkmode.css
  assets/js/darkmode.js
  index.html
Due: lint-yaml

Enhance SEO and site structure: Add meta tags, update descriptions, and create robots.txt
  _config.yml
  _includes/head.html
  index.html
  robots.txt
Due: lint-yaml

Add Consumer Lending Portfolio Management series with detailed posts on borrower segmentation, loan lifecycle, portfolio metrics, management strategies, risk models, and analytics.
  _config.yml
  _posts/consumer-lending-portfolio/2026-04-14-1-product-economics.md
  _posts/consumer-lending-portfolio/2026-04-14-2-borrower-segmentation.md
  _posts/consumer-lending-portfolio/2026-04-14-3-loan-lifecycle.md
  _posts/consumer-lending-portfolio/2026-04-14-4-portfolio-metrics.md
  _posts/consumer-lending-portfolio/2026-04-14-5-portfolio-management.md
  _posts/consumer-lending-portfolio/2026-04-14-6-risk-models.md
  series/consumer-lending-portfolio.md
Due: lint-markdown, lint-yaml

Revise lending blog posts: update subtitles, enhance content clarity, and remove payday notes for improved focus on installment lending concepts.
  _posts/consumer-lending-portfolio/2026-04-14-1-product-economics.md
  _posts/consumer-lending-portfolio/2026-04-14-2-borrower-segmentation.md
  _posts/consumer-lending-portfolio/2026-04-14-3-loan-lifecycle.md
  _posts/consumer-lending-portfolio/2026-04-14-5-portfolio-management.md
  _posts/consumer-lending-portfolio/2026-04-14-6-risk-models.md
Due: lint-markdown

Update borrower segmentation post: disable math rendering and remove loan purpose section for clarity and focus on key borrower archetypes.
  _posts/consumer-lending-portfolio/2026-04-14-2-borrower-segmentation.md
Due: lint-markdown

Add DevOps blog section with introductory content and link
  index.html
Due: none

feat: Add DevOps blog section with introductory content and link (#21)
  index.html
Due: none

Path conditions:
  lint-markdown: any of: \.md$
  lint-yaml: any of: \.(yaml|yml)$
